/* Sandbox style sheet */
body {
	margin: 0;
	box-sizing: border-box;
}
.sidebar {
	background-color: red;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 900px;
	width: 20%;
	padding:10px;
}
.header {
	position: fixed;
	left: 20%;
	top: 0;
	background-color: blue;

	height: 80px;
	width: 80%;
	display: block;

}
.header h1 {
	color: white;
	text-align: center;
}
.sidebar h1 {
	color: white;
	font-size: 2em;
	line-height: 30px;
}
.sidebar p {
	color: white;
	font-size: 1em;
	line-height: 1.8em;
}
.clear {
	clear:both;
}
.product {
	float: left;
	margin-left: 20%;
	padding: 10px;
	margin-top:90px;
	background-color: yellow;
}
.product p {
	margin-left: 20px;
}