/* Coffee style sheet */
h1 {
	font-family: Tahoma;
	font-size: 20pt;

}
h2 {
	font-family: arial;
	font-size: 14pt;
}
nav {
	font-family: serif;
	font-size: 12pt;
	color: #CC9966;
	background-color: #330000;
	text-decoration: none;
}
p {
	color: black;
	font-family: serif;
	text-align: center;
}
.article {
    text-align:center;
}
a:link, a:visited {
	text-decoration: none;
	color: #cc9966;
}
a:hover {
	color: white;
	font-weight: bold;
}
a:active {
	color: white;
	font-weight: bolder;
}
.address {
	font-family: serif;
	font-size: 10pt;
	color: #CC9966;
	background-color: #330000;

}